name: Gradle CI - Checking Compile

on:
  # Trigger the workflow on push or pull request
  workflow_dispatch:

permissions:
  contents: read

jobs:
  database-write-test:
    runs-on: ubuntu-latest
    env:
      working-directory: ./backend
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Install Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 8.2.1
    - name: Test Write/Read Database
      run: |
        gradle test --tests "*Repository*"
      working-directory: ${{ env.working-directory }}
